.choice {
    border: 1px solid #333;
    border-radius: 6px;
    margin: auto;
}

.time {
    font-weight: 500;   
    font-size: 1.1rem;
}

.duration {
    font-size: 1.1rem;
    font-weight: 500;
}

.price {
    font-weight: 500;
    font-size: 1.4rem;
    color: darkslategray;
}

.small {
    font-size: .7rem;
}

.tiny{
    font-size: .6rem;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.medium {
    font-size: 1rem;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.hotel-col {
    height: 200px;
}

.main-img {
    height: 142px;
    border-top-left-radius: 6px;
}

.main-img figure {
    width: 100%;
    height: auto;
}

.secondary-imgs {
    height: 58px;
}

.secondary-imgs figure {
    width: 100%;
    height: auto;
}

.secondary-one, .secondary-two {
    margin: 0;
    padding: 0;
}

.hotel {
    height: 66.6px
}

.box:any-link {
    color: black;
    text-decoration: none;
}

.box:hover .hotel-name {
    text-decoration: underline;
}

