<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    {{ bootstrap.load_css() }}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div id="nav-bar">
        {% block navbar %}
        <div class="container">
            <header
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="col-md-3 mb-2 mb-md-0"> 
                    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                        <img src="{{ url_for('static', filename='images/airplane.webp') }}" alt="Airplane Logo" width="50" height="40" class="d-inline-block align-text-top">
                        <span class="fs-4">
                            <h2>
                                <span class="text-primary">Trip</span> 
                                <span class="text-secondary">Planner</span>
                            </h2>
                        </span>
                    </a> 
                </div>
                <!-- <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2">Features</a></li>
                    <li><a href="#" class="nav-link px-2">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2">About</a></li>
                </ul> -->
                <div class="col-md-3 text-end">
                    {% if not logged_in %}
                    <a href="{{ url_for('login') }}" class="btn btn-outline-primary me-2">Login</a>
                    <a href="{{ url_for('register') }}" class="btn btn-primary">Sign Up</a>
                    {% else %}
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                    {% endif %}
                </div>
            </header>
        </div>
        {% endblock %}
    </div>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center"> 
                    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> 
                        <img src="{{ url_for('static', filename='images/airplane.webp') }}" alt="Airplane Logo" width="50" height="40" class="d-inline-block align-text-top"> 
                    </a> 
                    <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span> 
                </div>
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-body-secondary" href="#" aria-label="Instagram">
                            <img class="bi" width="24" height="24" src="{{ url_for('static', filename='images/instagram.svg') }}" alt="Instagram Logo">
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary" href="#" aria-label="Facebook">
                            <img class="bi" width="24" height="24" src="{{ url_for('static', filename='images/facebook.svg') }}" alt="Facebook Logo">
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
        {% endblock %}
    </div>
    {{ bootstrap.load_js() }}
</body>
</html>