{% extends "base.html" %}
{% block title %}Trip Planner{% endblock %}
{% block content %}
<div id="hero">
  {% block hero %}
    <div class="px-4 pt-3 pb-3 my-3 text-center">
      <h1 class="display-4 fw-bold text-body-emphasis">
        Plan your next trip with ease
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            
        </p>
        <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"> 
          <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">
            Primary button
          </button> 
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">
            Secondary
          </button> 
        </div> -->
      </div>
      <div>
        <div class="container px-5"> 
          <img src="{{ url_for('static', filename='images/vacation.webp') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="500" height="300" loading="lazy"> 
        </div>
      </div>
    </div>
    
    <div class="container px-5 d-flex justify-content-center">
      <form class="w-100" style="max-width: 900px;">
        <div class="row mb-3">
          <div class="col">
            <label for="destination">Enter Destination</label>
            <input type="text" name="destination" class="form-control" id="destination" placeholder="e.g., Paris, New York, Tokyo">
          </div>
          <div class="col">
            <label for="start_date">Start Date</label>
            <input type="date" name="start_date" class="form-control" id="start_date" min="{{ now().strftime('%Y-%m-%d') }}">
          </div> 
          <div class="col">
            <label for="end_date">End Date</label>
            <input type="date" name="end_date" class="form-control" id="end_date" min="{{ now().strftime('%Y-%m-%d') }}">
          </div> 
          <div class="col">
            <label for="travelers">Travelers</label>
            <input type="number" name="travelers" class="form-control" id="travelers" min="1" placeholder="1">
          </div>
          <div class="col-auto d-flex align-items-end">
            <button type="submit" class="btn btn-primary mt-2">Plan Trip</button>
          </div>
        </div>
      </form>
    </div>
    
  {% endblock %}
</div>
{% endblock %}