{% extends 'base.html' %}
{% block content %}
<div class="px-4 pt-3 pb-3 my-3 text-center">
    <h1 class="fw-bold text-body-emphasis">
       Choose Airport
    </h1>
</div>
<div class="mb-4 text-center">
    <p class="">Plan Trip &bull; <strong>Pick Airport &bull;</strong> Choose Itinerary &bull; Choose Stay &bull; Review Trip</p>
</div>
<div class="container mt-5 mb-5 px-5 d-flex justify-content-center">
    <form method="POST" action="{{ url_for('find_tickets')}}" class="w-100" style="max-width: 900px;">
        <input type="hidden" name="id" value="{{trip_id}}">
        <div class="row mb-3">
            <div class="col-4">
                <select class="form-select" name="arrival" aria-label="Select Arrival Airport" required>
                    <option selected disabled>Select Arrival Airport</option>
                    {% for airport in arrival %}
                    <option value="{{airport['iataCode']}}">
                        {{airport['name']}}: {{airport["address"]["cityName"]}}, {% if airport["address"]["stateCode"]
                        %}{{airport["address"]["stateCode"]}} {% else %} {{airport["address"]["countryCode"]}} {% endif
                        %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <select class="form-select" name="destination" aria-label="Select Destination Airport" required>
                    <option selected disabled>Select Destination Airport</option>
                    {% for airport in destination %}
                    <option value="{{airport['iataCode']}}">
                        {{airport['name']}}: {{airport["address"]["cityName"]}}, {% if airport["address"]["stateCode"]
                        %}{{airport["address"]["stateCode"]}} {% else %} {{airport["address"]["countryCode"]}} {% endif
                        %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <select class="form-select" name="cabin_class" aria-label="Select Cabin Class" required>
                    <option selected disabled>Select Cabin Class</option>
                    <option value="Economy">Economy</option>
                    <option value="First">First Class</option>
                    <option value="Business">Business</option>
                    <option value="Premium_Economy">Premium Economy</option>
                </select>
            </div>
        </div>
        <div class="px-5 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Find Tickets</button>
        </div>
    </form>
</div>
{% endblock %}