{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5 px-5 d-flex justify-content-center">
    <form method="POST" action="{{ url_for('find_tickets', trip_id=trip_id) }}" class="w-100" style="max-width: 900px;">
        <div class="row mb-3">
            <div class="col-4">
                <select class="form-select" name="arrival" aria-label="Select Arrival Airport">
                    <option selected disabled>Select Arrival Airport</option>
                    {% for airport in arrival %}
                    <option value="{{airport['iataCode']}}">
                        {{airport['name']}}: {{airport["address"]["cityName"]}}, {% if airport["address"]["stateCode"]
                        %}{{airport["address"]["stateCode"]}} {% else %} {{airport["address"]["countryCode"]}} {% endif
                        %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <select class="form-select" name="destination" aria-label="Select Destination Airport">
                    <option selected disabled>Select Destination Airport</option>
                    {% for airport in destination %}
                    <option value="{{airport['iataCode']}}">
                        {{airport['name']}}: {{airport["address"]["cityName"]}}, {% if airport["address"]["stateCode"]
                        %}{{airport["address"]["stateCode"]}} {% else %} {{airport["address"]["countryCode"]}} {% endif
                        %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <select class="form-select" name="cabin_class" aria-label="Select Cabin Class">
                    <option selected disabled>Select Cabin Class</option>
                    <option value="Economy">Economy</option>
                    <option value="First">First Class</option>
                    <option value="Business">Business</option>
                    <option value="Premium_Economy">Premium Economy</option>
                </select>
            </div>
        </div>
        <div class="px-5 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Find Tickets</button>
        </div>
    </form>
</div>
{% endblock %}